/* Estilos para o Header */
header {
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa; /* Cor padrão */
  color: #000000;
  padding: 10px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}

header .top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  background-color: #f8f9fa;
}

header .logo {
  margin-left: -20px;
  display: flex;
  align-items: center;
  margin-right: 250px;
}

header .logo img {
  height: 40px;
}

header .actions {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  background-color: #f8f9fa; /* Mantém a cor de fundo das actions */
}

/* Estilos para o Header */
header .action-button {
  color: rgb(0, 0, 0);
  background-color: #f8f9fa; /* Cor de fundo padrão */
  padding: 6px 14px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease; /* Transição apenas para a cor */
  border-bottom: 5px solid transparent; /* Define a borda inicial transparente */
}

header .action-button:hover, 
.dropdown:hover .action-button {
  color: #00aeef;
  background-color: #f8f9fa; /* Mantém a cor de fundo ao passar o mouse */
  padding-bottom: 17px;
  border-bottom: 5px solid #00aeef; /* Borda azul ao passar o mouse */
  text-decoration: none;

}

/* Dropdown Styles */
.dropdown-content {
  visibility: hidden;
  position: fixed;
  top: 60px;
  left: 15px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 6px 12px rgba(42, 176, 253, 0.4);
  z-index: 1000;
  width: 98vw;
  max-width: 100%;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.5s;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; /* Espaçamento entre as colunas e linhas */
  align-items: flex-start; /* Alinha os itens no topo */
  padding: 10px; /* Adiciona um pouco de espaçamento interno */
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

.dropdown-content a {
  display: flex;
  align-items: center;
  width: 170px;
  margin-bottom: 10px; /* Espaço entre os itens verticalmente */
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
  background-color: #fff; /* Garante que o fundo seja consistente */
  border-bottom: 1px solid #e1e1e1;
  white-space: nowrap;
  border-radius: 4px;
  box-sizing: border-box;
  transition: color 0.6s ease, transform 0.4s ease; /* Transição para a cor e o tamanho */
}

.dropdown-content a:hover {
  color: #00aeef;
  transform: scale(1.05); /* Aumenta ligeiramente o tamanho do link */
}


.dropdown-content a img {
 
  background-color: #fff; /* Fundo da imagem consistente com o dropdown */
  border-radius: 4px; /* Bordas arredondadas para a imagem */
}

.dropdown-content .primary-img {
  width: 35px; /* Tamanho desejado para a imagem principal */
  height: 35px;
  margin-right: 8px; /* Espaçamento entre a imagem e o texto */
}

/* Estilo para a imagem de seta dentro do dropdown */
.dropdown-content .arrow-img {
  width: 13px; /* Tamanho desejado para a imagem da seta */
  height: 13px;
  margin-left: 15px; /* Espaçamento entre o texto e a seta */
  opacity: 0.8;
}

.dropdown-content a:hover {
  text-decoration: none;
}

.dropdown-content a:last-child {
  border-bottom: none;
}


