.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #81a4ca; /* Azul vibrante, ajuste conforme sua preferência */
  color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para destacar a navbar */
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
}

.navbar-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px; /* Define o tamanho da fonte */
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }
}