.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.service-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  max-width: 250px;
  margin: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  position: relative;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 225, 255, 0.3);
}

.service-card__icon {
  font-size: 36px;
  margin-bottom: 8px;
}

.service-card__title {
  font-size: 20px;
  margin: 8px 0;
  color: #333;
}

.service-card__description {
  font-size: 16px;
  color: #666;
}

.services-title {
  font-size: 2em;
  margin: 0;
}

.triari-blue {
  color: #00aeef;
}

.services-subtitle {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}
